* {
  margin: 0;
  padding: 0;
}
body {
  width: 30%;
  height: 50%;
  margin: 50px auto;
  background-color: #b4a4e5;
}
button {
  width: 150px;
  padding: 10px;
  background: teal;
  color: white;
  border-radius: 25px;
  margin: 0 20px;
  cursor: pointer;
}
#select {
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  margin: 50px;
  width: 120px;
  height: 34px;
  border: 1px solid #111;
  border-radius: 3px;
  overflow: hidden;
}
.box {
  display: flex;
  background-color: #d9b4d7;
  width: 80px;
  height: 80px;
  margin: 3px;
}
#container {
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 25px;

  padding: 20px;

  background-color: #ffdafa;
  border-radius: 20px;
  justify-content: center;
}
img {
  width: 80px;
}

